@model Congress.App.Models.ViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="small-12 columns">
        <h1>Welcome</h1>
    </div>
</div>

@section scripts {
    <script></script>
}
<div class="row">
    <div class="small-12 columns">
        <form id="post-form">
            <div class="row">
                <div class="large-12 columns">
                    <div class="row collapse">
                        <div class="small-8 medium-10 columns">
                            <input name="Title" type="text" placeholder="Write your question here.." required>
                        </div>
                        <div class="small-4 medium-2 columns">
                            <a href="#post-form" class="button postfix">Submit</a>
                        </div>
                    </div>
                </div>
            </div>
            @*TODO: Implement content*@
            <input style="display: none" name="Content" type="text" placeholder="Content">
        </form>
    </div>
</div>

<style>
    .vote-container {
        padding-left: 0;
        padding-right: 0;
    }

    .vote-container > i,
    .vote-container > div {
        text-align: center;
        width: 100%;
    }

    .vote-container > i {
        cursor: pointer;
    }
</style>

<div id="posts-container"></div>